<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"><head>     
  
        <!-- TITLE OF SITE --> 
        <title>Smart Park</title>
  
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="description" content="StartUp Landing Page Template" />
        <meta name="keywords" content="Treetoper, startup, landing page, gradient background, image background, video background, template, responsive, bootstrap" />
        <meta name="developer" content="TemplateOcean">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    

        <!-- GOOGLE FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Acme|Pacifico" rel="stylesheet">
        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

        <!-- Image Slider -->
<!--        <link rel="stylesheet" href="css/plagin-css/plagin.css">
-->
        <!-- FONT ICONS -->
		<link rel="stylesheet" href="css/font-awesome.css" type="text/css">
        <!--   COUSTOM CSS link  -->
        <link rel="stylesheet" href="css/style-home.css">
        <!---HOVER EFFECTS---->
         <link rel="stylesheet" href="css/hover.css" media="all">
         <!--animate css-->
         <link rel="stylesheet" href="css/animate.css">
         <!---jquery -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="angular.js"></script>
    
        <style>
        .col-xs-1
        {
          width: 10%;
        }
        .col-xs-2
        {
          width: 60px;
        }
        .col-space
        {
          margin-right: 10%;
        }
         
       @media (max-width: 991px) {
    .seating
   {
    width: 100%;
    margin:0; 
    border-radius: 0;
    //margin-left: 15%;
  }
  .seating,.slots-park{
    margin-bottom: 10%;
  }
  .red{
    margin-right: 15px;
    width: 15%;
    margin-top: 5%;
  }
  .selfparked{
    margin-left:-8px;
    margin-top: 5%;
  }
  .panel-default {
    /* height: 30px; */
    display: flex;
    width: 25px;
  }
   .main-row
  {
    margin:5%;
  }
  .row-lots
    {
      margin-right:-10%;
      position: relative;
    }
  
}

@media (max-width: 1199px) {
  .seating
   {
    width: 100%;
    margin:0; 
    border-radius: 0;
    margin-left: 2%;
  }
  .red{
    margin-right: 15px;
    width: 15%;
    margin-top: 5%;
  }
  .reserved-info{
    margin-left: -8%;
  }
  .selfparked{
    margin-left: 2px;
    margin-top:  5%;
  }
  .row-lots
  {
    margin:1%;
  }
  .col-space
        {
          margin-right: 1%;
        }
}
  
  </style>
  <script type="text/javascript">
      var xhttp;
      var emp_id;
      var slot;
      var parking_slot="string";
      var self_parked ="string";
      var parking_slot_self="string";

           (function(){
            var c=document.cookie;
//            alert(c);
            var mytest1=c.split(';');
            var check=document.cookie;
            var i=mytest1[1].search("=");
            i=i+3;
            if(mytest1[1].charAt(i)=="4")
            {
//              alert(check);
//              alert(mytest1[0]);
              //var end=mytest1[1].charAt()
              var end=c.search(";");
              var start=mytest1[0].search("=");
              emp_id=mytest1[0].slice(start+1,end);
//              alert(start);
  //            alert(end);
//              alert(emp_id);
            }
            else
            {
              window.location.assign("index.html");
            }
     }());  


    var app=angular.module("dashboard",[]);
    app.controller("dashboard_con",function($scope,park_update,slotpark_update,slot_status_update){
      $scope.slot_no="";
      $scope.slot_details="";
      $scope.c_vehicle_no="AP12WR1234";
      $scope.park=function(slot_no_2){
//        alert(slot_no_2);
//        alert(emp_id);
//        alert("parking_self :"+parking_slot_self);
//        alert("parking_slot :"+parking_slot);
        if (parking_slot_self.search(slot_no_2)>=6){
          park_update.park_update_slot($scope,slot_no_2);
        $('#modal_free').modal('show');   
          }
        else if(parking_slot_self.length>6){
         alert("You have used one slot already. Please free it. So that you can use any other available.");
         //alert("");
 //       alert("If this uer is alreadybooked");
        }
        else if(parking_slot.search(slot_no_2) == -1){
//          alert("THis user didnot booked any") && (parking_slot_self.search(slot_no_2)>5)
          park_update.park_update_slot($scope,slot_no_2);
        $('#modal_park').modal('show');
        }
        else{
          if(parking_slot.search(slot_no_2)>5 ){
            alert("This slot is already used. Please find another slot available");
          }
          else if (parking_slot_self.length>6){
            alert("You have used one slot already. Please free it. So that you can use any other available.");
          }
          else if(parking_slot.search(slot_no_2) != -1){
//            alert("You have used one slot already. Please free it. So that you can use any other available.");
             park_update.park_update_slot($scope,slot_no_2);
        $('#modal_park').modal('show');
          }

        }
      }
      $scope.slot_park_update=function(status){
        slotpark_update.slot_parkupdate($scope,status);
      }
      $scope.onpageload=function(){
        slot_status_update.slotstatusupdate($scope);
      }
   });
//Function for updating the slot
       app.service("slotpark_update",function($http){
      this.slot_parkupdate=function(v,status){
          //alert(gid);
//          alert(slot);
          if(status==1)
          {
              document.getElementById(slot).style.backgroundColor ="Grey";
          }
          else
          {
            document.getElementById(slot).style.backgroundColor="lightgreen";
            parking_slot_self="string";
          }
//            alert(emp_id);
          var request = $http({ 
               method: "post", 
               url: "update_slot.php", 
               headers:{'content-type':'application/x-www-form-urlencoded'}, 
               transformRequest: function(obj) {
                                            var str = [];
                                            for(var p in obj)
                                            {
                                                  //console.log(p);
                                                  str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                            }                                                 
                                            alert(str.join("&"));
                                              return str.join("&");
                                      },
               data: { 
                   slot: slot,
                   empid:emp_id,
                   status:status
               } 
           });
          request.success( 
                     function( data ) {
                      //alert(data);
                           v.onpageload();
                     } 
                 ); 
         }
      });  
//When on page load is called to update every slot status
app.service("slot_status_update", function($http){
  this.slotstatusupdate=function(v){
    v.slot_details="";
    $http.get("get_slots_info.php").then(function(response){
      v.slot_details=response.data;
      parking_slot_self="string";
      parking_slot="string";
//      alert(JSON.stringify(v.slot_details));
//      alert("Hai");
//      alert(v.slot_details[0].slot_no);
      for (var i = v.slot_details.length - 1; i >= 0; i--) {
        if(v.slot_details[i].emp_id==emp_id && v.slot_details[i].status){
          //need to write the code here
          slot=v.slot_details[i].slot_no;
//          alert(slot);
          parking_slot_self=parking_slot_self+v.slot_details[i].slot_no;
          parking_slot=parking_slot+v.slot_details[i].slot_no;
          document.getElementById(v.slot_details[i].slot_no).style.backgroundColor="Grey";
          self_parked = self_parked+v.slot_details[i].slot_no;
          document.getElementById(v.slot_details[i].slot_no).removeAttribute("ng-click");
        }
        else if(v.slot_details[i].status){          
          parking_slot=parking_slot+v.slot_details[i].slot_no;
//          alert(parking_slot);
// //          angular.element(document.getElementById(v.slot_details[i].slot_no)).events=null;
//           alert("hai"+JSON.stringify(angular.element(document.getElementById(v.slot_details[i].slot_no))));

//           alert(v.slot_details[i].slot_no);
          document.getElementById(v.slot_details[i].slot_no).style.backgroundColor="red";
          document.getElementById(v.slot_details[i].slot_no).removeAttribute("ng-click");
        }
        else{}
//          alert(slot);
      }
    });
  }  
});
  //Function for getting the slot_no
       app.service("park_update",function($http){
      this.park_update_slot=function(v,slot_no_2){
        slot=slot_no_2;
       // alert(slot);

      }
 });           
         function delcookie()
         {
          var c=document.cookie;
          var mytest1=c.split(';');
          //alert("before closing:"+mytest1[0]+" "+mytest1[1]);
          var v1=mytest1[0].substr(0,mytest1[0].search("="));
          var v2=mytest1[1].substr(0,mytest1[1].search("="));
          var v3=mytest1[2].substr(0,mytest1[2].search("="));
          //alert(v1+"  "+v2);
          document.cookie = mytest1[0]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
          document.cookie = mytest1[1]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
          document.cookie = mytest1[2]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
          //alert("close");
          window.location.assign("logout.php?p1="+v1+"&p2="+v2+"&p3="+v3);   
         }
    function reset()
    {
      slot="";
    }
  </script>   
    </head>

   <body ng-app="dashboard" ng-controller="dashboard_con" ng-init="onpageload()" >
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <li ><a href="#">         <label>Welcome:<span class="glyphicon glyphicon-user"></span>
         <span>
          <script type="text/javascript">
            var c=document.cookie;
            var mytest1=c.split(';');
            var j=mytest1[2].search("=");
            var k=mytest1[2].search("%");
            var arr=mytest1[2].slice(j+1,k);
            document.write(arr);
          </script>
         </span>
        </label></a></li>
        <li><a href="#" onclick="delcookie()"><span class="glyphicon glyphicon-log-out"></span>Signout</a></li>
      </ul>
    </div>      
  </div>
</nav>

  <!-- Start: Header Section
  ================================ -->
  <section class="header-section-1 bg-image-1 header-js" id="header" >
    <div class="overlay-color">
      <div class="container">
        <div class="row section-separator image-logo">
          <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" style="margin-top: -22%; position: relative;">
            <div class="part-inner text-center">
              <img src="images/logo-dark.png" class="animated swing"  width="15%" style="margin-left: 1%" alt="" class=" img-responsive">
                <!--  Header SubTitle Goes here -->
                  <h1 class="title animated fadeInDown heading1" style="font-family: Acme" >SMART PARKING<br></h1> 
                    <div class="detail animated fadeInUp quote1" style="margin-top: -2%;">
                      <p style="font-family: 'Pacifico', cursive;">Let's pick your spot!!</p>
                    </div>
                  <!-- Button Area -->
                    <!-- Container-solid Starting -->
                      <div class="container seating">
                        <div class="area animated fadeIn " style="animation-delay: 0.7s;">
                            <!--slot types info starting-->
                              <div class="row" style="margin-left: 3%;">
                              <div class="col-sm-6 col-xs-6 col-md-6 col-lg-3 ">
                                <input type="" name="" class="reserved-info" disabled>
                                  <label>Reserved</label>
                              </div>
                              <div class="col-sm-6 col-xs-6 col-md-6 col-lg-3" >
                                <input type="" name="" class="available"  disabled>
                                  <label> Available</label>
                              </div>
                              <div class="col-sm-6 col-xs-6 col-md-6 col-lg-3">
                                <input type="" name="" class="selfparked" diabled>
                                  <label>SelfParked</label>
                              </div>
                              <div class="col-sm-6 col-xs-6 col-md-6 col-lg-3">
                                <input type="" name="" class="red" disabled>
                                  <label> Parked</label>
                              </div>
                              </div>
                            <!-- slot types info ending -->
                            <!-- Slot numbering starting -->
                              <div class="container slot-numbering">
                                <!-- Mainrow Starting -->
                                  <div class="row row-lots main-row" >
                                    <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1">
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1">
                                      <label><font size="5" id="A">A</font></label>
                                    </div>
                                    <div class="col-sm-1 col-xs-1 col-lg-1">
                                       <label><font size="5" id="B" >B</font></label>    
                                    </div>
                                    <div class="col-sm-1 col-xs-1 col-lg-1 col-space">
                                           <label ><font size="5" id="C" >C &nbsp;&nbsp;&nbsp;&nbsp; </font>   </label> 

                                    </div>
                                    <div class="col-sm-1 col-xs-1 col-lg-1">
                                        <label><font size="5" id="D" >D</font></label>    
                                    </div>
                                    <div class="col-sm-1 col-xs-1 col-lg-1">
                                       <label><font size="5" id="E" >E</font></label>
                                    </div>
                                    <div class="col-sm-1 col-xs-1 col-lg-1">
                                      <label><font size="5" id="F" >F</font></label>
                                    </div>
                                  </div>
                                <!--Mainrow ending -->
                                  <!--conatiner for the slots -->
                                  <div class="container slots-park">
                                    <!-- Row 1 starting -->
                                      <div class="row row-lots row1">
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <label id="column"><font size="5">1</font></label>
                                          </div>
                                        <div class="col-sm-1 col-xs-1">
                                          <div class="panel panel-default" id="A1" ng-click="park('A1')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">B</label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                         <div class="panel panel-default" id="B1" ng-click="park('B1')">
                                           <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                           </div>
                                         </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-space">
                                         <div class="panel panel-default" id="C1" ng-click="park('C1')">
                                          <div class="panel-body Panel-class">
                                             <label class="align">C</label>
                                          </div>
                                         </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                          <div class=" panel panel-default" id="D1" ng-click="park('D1')">
                                           <div class="panel-body Panel-class">
                                            <label class="align">C</label>
                                           </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                          <div class=" panel panel-default" id="E1" ng-click="park('E1')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">C</label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                          <div class=" panel panel-default" id="F1" ng-click="park('F1')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">B</label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    <!-- Row Ending -->
                                    <!-- Row 2 Starting -->
                                      <div class="row row-lots row2">
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <label id="column"><font size="5">2</font></label>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class="panel panel-default" id="A2" ng-click="park('A2')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>        
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class="panel panel-default" id="B2" ng-click="park('B2')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B  </label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-space">
                                            <div class="panel panel-default" id="C2" ng-click="park('C2')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="D2" ng-click="park('D2')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="E2" ng-click="park('E2')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="F2" ng-click="park('F2')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                    <!-- Row2  Ending -->
                                    <!-- Row3 starting-->
                                      <div class="row row-lots row3">
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <label id="column"><font size="5">3</font></label>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class="panel panel-default reserved1" id="A3" >
                                              <div class="panel-body Panel-class">
                                                <label class="reserved">R</label>        
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class="panel panel-default reserved1 " id="B3" >
                                              <div class="panel-body Panel-class">
                                                <label class="reserved">R</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-space">
                                            <div class="panel panel-default reserved1" id="C3" >
                                              <div class="panel-body Panel-class">
                                                <label class="reserved">R  </label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="D3" ng-click="park('D3')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="E3" ng-click="park('E3')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="F3" ng-click="park('F3')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                    <!-- Row3 Ending -->
                                    <!--Row4 starting -->
                                      <div class="row row4 row-lots">
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <label id="column"><font size="5">4</font></label>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class="panel panel-default" id="A4" ng-click="park('A4')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class="panel panel-default" id="B4" ng-click="park('B4')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-space">
                                            <div class="panel panel-default" id="C4" ng-click="park('C4')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="D4" ng-click="park('D4')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B  </label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="E4" ng-click="park('E4')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <div class=" panel panel-default" id="F4" ng-click="park('F4')">
                                              <div class="panel-body Panel-class">
                                                <label class="align">B</label>
                                              </div>
                                            </div>
                                          </div>
                                      </div> 
                                    
                                   
                                      <div class="row row5 row-lots">
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                            <label id="column"><font size="5">5</font></label>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                          <div class="panel panel-default" id="A5" ng-click="park('A5')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">B</label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                          <div class="panel panel-default" id="B5" ng-click="park('B5')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">B</label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-space">
                                          <div class="panel panel-default" id="C5" ng-click="park('C5')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">B</label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                          <div class=" panel panel-default" id="D5" ng-click="park('D5')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">B</label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                          <div class=" panel panel-default" id="E5" ng-click="park('E5')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">B</label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                          <div class=" panel panel-default" id="F5" ng-click="park('F5')">
                                            <div class="panel-body Panel-class">
                                              <label class="align">B  </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    <!-- Row5 Ending -->
                                  </div>
                                  <!-- ending container for slots -->
                              </div>
                            <!-- slot number Ending -->
                        </div>
                      </div>
                    <!--Container-solid  ending--->
            </div>
          </div> <!-- End: .part-1 -->
        </div> <!-- End: .row -->
      </div> <!-- End: .container -->
    </div> <!-- End: .overlay-color -->
  </section>
  <!-- End: Header Section
  ================================ -->

        
        <!-- SCRIPTS 
        ========================================-->
        <script src="js/plagin-js/jquery-1.11.3.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/plagin-js/plagin.js"></script>

   <!--modal for parking the slot -->
<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="modal_park" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="reset()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Slot</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                             <label >Vehilce No:</label>
              <input type="text" class="form-control" ng-disabled="true" ng-model="c_vehicle_no" ng-required>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="slot_park_update(1)"><span class=" glyphicon glyphicon-save"></span>Park</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 
<!-- modal for releasing the slot-->
<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="modal_free" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="reset()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Slot</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                             <label >Vehilce No:</label>
              <input type="text" class="form-control" ng-disabled="true" ng-model="c_vehicle_no" ng-required>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="slot_park_update(0)"><span class=" glyphicon glyphicon-save"></span>Free</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 
</body>

</html>