<!DOCTYPE html>
<html>
<head>
	<title></title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript">
    	var xhttp;

/*    	     (function(){
            var c=document.cookie;
            var mytest1=c.split(';');
          // console.log(document.cookie);
            var check=document.cookie;
            var i=mytest1[0].search("=");
            i=i+1;
            if(mytest1[0].charAt(i)=="x")
            {}
            else
            {
              window.location.assign("login.html");
            }
     }());  */ 

    var app=angular.module("admin",[]);
	app.controller("admincontroller",function($scope,send_addcontact,get_details,delete_contact,edit_contact){
	$scope.collected_details = "";
	$scope.collect="";
	$scope.c_name="";
	$scope.c_emp_id="";
	$scope.c_email="";
	$scope.c_password="";
	$scope.c_gender="";
	$scope.c_vehicle_no="";
	$scope.c_phone_no="";
	$scope.onpageload=function(){
		//alert("hai");
		get_details.get_full_details($scope);
		//alert("returned");
	}
	$scope.deletecontact=function(emp_id){
		delete_contact.delete_contact_details($scope,emp_id);
	}
	$scope.editcontact=function(emp_id){
		edit_contact.edit_contact_details($scope,emp_id);
	}
	$scope.send_add_contact=function(){
              //alert("hhai");
              send_addcontact.send_add_contact_details($scope,$scope.c_name,$scope.c_emp_id,$scope.c_email,$scope.c_password,$scope.c_gender,$scope.c_vehicle_no,$scope.c_phone_no);
            }
});
app.service("get_details", function($http){
	//alert("enter the dragon");
	this.get_full_details=function(v){
		//alert("My anaconda dance");
		v.collected_details="";
		$http.get("contacts_dis.php").then(function(response){
			
			v.collected_details=response.data;
//			alert(JSON.stringify(response));
			//alert(v.collected_details);
		})
	}  
});

            app.service("send_addcontact",function($http){
            this.send_add_contact_details=function(v,c_name,c_emp_id,c_email,c_password,c_gender,c_vehicle_no,c_phone_no){
                //alert("by");
                //alert(gid);
                var request = $http({ 
                     method: "post", 
                     url: "addcontact.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                 //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         cname: c_name,
                         c_emp_id: c_emp_id,
                         c_email:c_email,
                         c_password:c_password,
                         c_gender:c_gender,
                         c_vehicle_no:c_vehicle_no,
                         c_phone_no:c_phone_no
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
                        alert(data);
//                          v.getcontact(gid);
                         } 
                 ); 
            }
       });

//Function to delete a contact
            app.service("delete_contact",function($http){
            this.delete_contact_details=function(v,emp_id){
                //alert("by");
                //alert(gid);
                var request = $http({ 
                     method: "post", 
                     url: "delete_contact.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                 //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         c_emp_id: emp_id
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
                        //alert(data);
                        v.onpageload();
                         } 
                 ); 
            }
       });

//Function For Editing a contact
            app.service("edit_contact",function($http){
            this.edit_contact_details=function(v,emp_id){
                //alert("by");
                //alert(gid);
                var request = $http({ 
                     method: "post", 
                     url: "editcontact.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                 //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         c_emp_id: emp_id
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( response ) { 
 //                    	alert(JSON.stringify(response));
                        v.c_name=response[0].name;
                        v.c_emp_id=response[0].emp_id;
                        v.c_vehicle_no=response[0].vehicle_no;
                        v.c_email=response[0].email;
                        v.c_phno=response[0].phoneno;
//                        alert(v.c_name);
                        $('#modal_edit').modal('show');
                         } 
                 ); 
            }
       });
    function reset()
    {
        v.c_name="";
        v.c_emp_id="";
        v.c_vehicle_no="";
        v.c_email="";
        v.c_phno="";
    }
    </script>
</head>
<body ng-app="admin" ng-controller="admincontroller" ng-init="onpageload()">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Smart Parking</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <li ><a href="#"><label>Welcome:<span class="glyphicon glyphicon-user"></span>
         <span>
          <!-- <script type="text/javascript">
            var c=document.cookie;
            var mytest1=c.split(';');
            var j=mytest1[1].search("=");
            var k=mytest1[1].search("%");
            var arr=mytest1[1].slice(j+1,k);
            document.write(arr);
          </script> -->
         </span>
        </label></a></li>
        <li><a href="#" onclick="delcookie()"><span class="glyphicon glyphicon-log-out"></span> Signout</a></li>
      </ul>
    </div>      
  </div>
</nav>
<div class="create_contact" ng-hide="contact_module">
   <a href="#" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_add"><img src="1.png" width="40" height="30"></a>   
</div>
<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="modal_add" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"  data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Contact</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label >Name:</label>
              <input type="text" class="form-control" ng-model="c_name" ng-required>
            </div>
            <div class="form-group">
              <label >EmpID:</label>
              <input type="text" class="form-control" ng-model="c_emp_id" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >Email:</label>
              <input type="text" class="form-control" ng-model="c_email" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >password:</label>
              <input type="text" class="form-control" ng-model="c_password" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >gender:</label>
              <input type="text" class="form-control" ng-model="c_gender" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >Vehicle no:</label>
              <input type="text" class="form-control" ng-model="c_vehicle_no" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >Phone no:</label>
              <input type="text" class="form-control" ng-model="c_phone_no" ng-required><span></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="send_add_contact()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
      <div ng-hide='contact_module'>
            <table class="table table-striped">
               <tr>
                  <th>Name</th>
                  <th>Employee ID</th>
                  <th>Vehicle No</th>
                  <th>Contact No</th>
                  <th><span class="glyphicon glyphicon-trash"></span>Delete</th>
                  <th><span class="glyphicon glyphicon-edit"></span> Edit</th>                       
               </tr> 
               <tr ng-repeat="x in collected_details|filter:search_contact_key">
                    <td>{{x.name}}</td>
                    <td>{{x.emp_id}}</td>
                    <td>{{x.vehicle_no}}</td>
                    <td>{{x.phoneno}}</td>
                    <td><a href="#" ng-click="deletecontact(x.emp_id)"><span class="glyphicon glyphicon-trash"></span> delete</a></td>
                    <td><a href="#" ng-click="editcontact(x.emp_id)"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
               </tr>
           </table>
      </div>
      <!--model for contact editing-->
<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="modal_edit" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="reset()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Contact</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label >Name:</label>
              <input type="text" class="form-control"  ng-model="c_name" ng-required>
            </div>
            <div class="form-group">
              <label >Employee ID:</label>
              <input type="text" class="form-control"  ng_disabled="true" ng-model="c_emp_id" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >Email:</label>
              <input type="text" class="form-control"  ng-disabled="true" ng-model="c_email" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >Vehicle No:</label>
              <input type="text" class="form-control"  ng-disabled="true" ng-model="c_vehicle_no" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >Phone No:</label>
              <input type="text" class="form-control"  ng-model="c_phno" ng-required><span></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="send_edit_contact()"><span class=" glyphicon glyphicon-save"></span>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>