<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script type="text/javascript" src="angular.js"></script>
  <style>
  .panel-body{
    padding: 0px;
  }
     .panel-default {
      height: 50px;

      /*width: 60%;flex-direction: row;
*/      display: flex;
      
      background-color: green;
    }
    .row
    {
      max-width: 400px;
      margin: 20px auto 40px; 
    }
    .panel:hover
    {
      background-color: #55ef37;
    }
    .green {
  border: 1px solid green;
  width: 15%;
  background-color: green;
}

.red {
  border: 1px solid red;
  width: 15%;
  background-color: red;
}
.column
{
  font-size: 400%;
}

  </style>
  <script type="text/javascript">
      var xhttp;

           (function(){
            var c=document.cookie;
            var mytest1=c.split(';');
//            console.log(document.cookie);
            var check=document.cookie;
            var i=mytest1[0].search("=");
            i=i+1;
            if(mytest1[0].charAt(i)=="x")
            {}
            else
            {
              window.location.assign("index.html");
            }
     }());   

    var app=angular.module("dashboard",[]);
    app.controller("dashboard_con",function($scope,park_update,slotpark_update){
      $scope.slot_no="";
      $scope.park=function(slot_no){
        park_update.park_update_slot($scope,slot_no);
        $('#modal_update').modal('show');
      }
      $scope.slot_park_update=function(status){
        slotpark_update.slot_parkupdate($scope,status);
      }
/*      $scope.slot_free_update=function(){
        slotfree_update.slot_freeupdate();
      }
  */  });
//Function for updating the slot
       app.service("slotpark_update",function($http){
      this.slot_parkupdate=function(v,status){
          //alert(gid);
          //alert(slot);
          if(status==1)
          {
              document.getElementById("P0001").style.background="red";
          }
          else//
            document.getElementById("P0001").style.background="green";
      //    var emp_id='1454865';
          var request = $http({ 
               method: "post", 
               url: "update_slot.php", 
               headers:{'content-type':'application/x-www-form-urlencoded'}, 
               transformRequest: function(obj) {
                                            var str = [];
                                            for(var p in obj)
                                            {
                                                  //console.log(p);
                                                  str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                            }                                                 
                                            //alert(str.join("&"));
                                              return str.join("&");
                                      },
               data: { 
                   slot: slot,
                   empid:emp_id,
                   status:status
               } 
           }); 

           // Store the data-dump of the FORM scope. 
           request.success( 
               function( response ) { 
                 //alert(response);
                  reset();
                  //alert(response);
                   } 
           ); 
      }
 });           
  //Function for getting the slot_no
       app.service("park_update",function($http){
      this.park_update_slot=function(v,slot_no){
        slot=slot_no;
       // alert(slot);

/*          //alert(gid);
          var request = $http({ 
               method: "post", 
               url: "update_slot.php", 
               headers:{'content-type':'application/x-www-form-urlencoded'}, 
               transformRequest: function(obj) {
                                            var str = [];
                                            for(var p in obj)
                                            {
                                                  //console.log(p);
                                                  str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                            }                                                 //alert(str.join("&"));
                                              return str.join("&");
                                      },
               data: { 
//                   c_name: c_name,
               } 
           }); 

           // Store the data-dump of the FORM scope. 
           request.success( 
               function( response ) { 
                 //alert(response);
                  v.reset();
                  v.onpageload();
                   } 
           ); */
      }
 });           
         function delcookie()
         {
          var c=document.cookie;
          var mytest1=c.split(';');
          //alert("before closing:"+mytest1[0]+" "+mytest1[1]);
          var v1=mytest1[0].substr(0,mytest1[0].search("="));
          var v2=mytest1[1].substr(0,mytest1[1].search("="));
          //alert(v1+"  "+v2);
          document.cookie = mytest1[0]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
          document.cookie = mytest1[1]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
          //alert("close");
          window.location.assign("logout.php?p1="+v1+"&p2="+v2);   
         }

    function reset()
    {
      slot="";
    }

    function abcd(){
      //alert("Bitch you got it");
    }
  </script>
</head>
<body ng-app="dashboard" ng-controller="dashboard_con" >
<nav class="navbar navbar-inverse"t>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Smart Parking</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <li ><a href="#"><label>Welcome:<span class="glyphicon glyphicon-user"></span>
         <span>
          <script type="text/javascript">
            var c=document.cookie;
            var mytest1=c.split(';');
            var j=mytest1[1].search("=");
            var k=mytest1[1].search("%");
            var arr=mytest1[1].slice(j+1,j+8);
            document.write(arr);
          </script>
         </span>
        </label></a></li>
        <li><a href="#" onclick="delcookie()"><span class="glyphicon glyphicon-log-out"></span> Signout</a></li>
      </ul>
    </div>      
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
      <input type="" name="" class="green" ng-disabled>
      <label> Available</label>
    </div>
    <div class="col-sm-4">
      <input type="" name="" class="red" ng-disabled>
      <label> Parked</label>
    </div>
  </div>
</div>
<!--modal for updating th parking availability -->
<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="modal_update" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="reset()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Slot</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label >Vehilce No:</label>
              <input type="text" class="form-control" ng-disabled="true" ng-model="c_vehicle_no" ng-required>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="slot_park_update(1)"><span class=" glyphicon glyphicon-save"></span>Park</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="slot_park_update(0)"><span class=" glyphicon glyphicon-save"></span>Free</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <label id="column"><font size="6">1</font></label>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-default" id="P0002" ng-click="park(P0002)">
        <div class="panel-body Panel-class">
          <div class="row">
            <!--<div class="col-sm-8">
              P0002
            </div>
            <div class="col-sm-4">
              <i class="fas fa-motorcycle fa-2x"></i>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-default" id="P0003" ng-click="park(P0003)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0003
            </div>
            <div class="col-sm-4">
              <i class="fas fa-motorcycle fa-2x"></i>
            </div>
          </div>
          <div class="row"> </div>        </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <div class="panel panel-default">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0005
            </div>
            <div class="col-sm-4">
              <i class="fas fa-motorcycle fa-2x"></i>
            </div>
          </div>
          <div class="row"> </div>        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0006" ng-click="park(P0006)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0006
            </div>
            <div class="col-sm-4">
              <i class="fas fa-motorcycle fa-2x"></i>
            </div>
          </div>
          <div class="row"> </div>        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0007" ng-click="park(P0007)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0007
            </div>
            <div class="col-sm-4">
              <i class="fas fa-car fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0008" ng-click="park(P0008)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0008
            </div>
            <div class="col-sm-4">
              <i class="fas fa-car fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0009" ng-click="park(P0009)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0009
            </div>
            <div class="col-sm-4">
              <i class="fas fa-car fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0011" ng-click="park(P0011)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0011
            </div>
            <div class="col-sm-4">
              <i class="fas fa-car fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0012" ng-click="park(P0012)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0012
            </div>
            <div class="col-sm-4">
              <i class="fas fa-car fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0013" ng-click="park(P0013)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0013
            </div>
            <div class="col-sm-4">
              <i class="fas fa-motorcycle fa-2x"></i>
            </div>
          </div>
          <div class="row"> </div>        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0014" ng-click="park(P0014)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0014
            </div>
            <div class="col-sm-4">
              <i class="fas fa-motorcycle fa-2x"></i>
            </div>
          </div>
          <div class="row"> </div>        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0015" ng-click="park(P0015)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0015
            </div>
            <div class="col-sm-4">
              <i class="fas fa-car fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0017" ng-click="park(P0017)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0017
            </div>
            <div class="col-sm-4">
              <i class="fas fa-ambulance fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class=" panel panel-default" id="P0018" ng-click="park(P0018)">
        <div class="panel-body Panel-class">
          <div class="row">
            <div class="col-sm-8">
              P0018
            </div>
            <div class="col-sm-4">
              <i class="fas fa-ambulance fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>
</html>
