@font-face 
		{
    			font-family: 'section-heading';
    			src: url('fonts/opificio_regular-webfont.eot');
    			src: url('fonts/opificio_regular-webfont.eot?#iefix') format('embedded-opentype'),
         		url('fonts/opificio_regular-webfont.woff2') format('woff2'),
         		url('fonts/opificio_regular-webfont.woff') format('woff'),
         		url('fonts/opificio_regular-webfont.ttf') format('truetype'),
         		url('fonts/opificio_regular-webfont.svg#opificioregular') format('svg');
    			font-weight: normal;
    			font-style: normal;
		}
 /* 		.title_row img  		
  		{
  			display: block;
  			margin: 0px auto;
  		}
  		.title_row h2
  		{
  			text-align: center;
  			margin:0px;
  			font-family: section-heading;
  		}
  */		.form_row label.labelname
  		{
  			font-family: section-heading;
  			letter-spacing: 2px;
  		}
      .btn
      {
        margin-left: 20%;
      }

  		/*.form_row .form_col
  		{
  		   box-shadow: 0px 0px 3px 3px #efefef;
  		   padding: 3%;
  		}*/
    .form_row .form_col .btn-success
  		{  			
  			//display: block;
  			//margin: 0px auto;  
        margin-left:10%;
  		}
form span
  		{
  			color: red;
  			font-family: section-heading;
  			font-style: bold;
  			font-size: 15px;
  		}
form .req
  		{
  			color: red;
  			font-size:18px; 
  		}